# Archivos y carpetas de Eclipse
.project
.classpath
.settings/

# Carpeta de compilación
/bin/
/target/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Configuraciones personales
.idea/
.vscode/
*.iml

# Variables de entorno y credenciales (si usas)
.env
application-*.properties

# Archivos generados por Maven Wrapper
.mvn/
mvnw
mvnw.cmd
